<template name="home">

    {{#if currentUser}}
        <h1 class="page-header">Stickywall</h1>
        <p>
            Please choose a board from the menu
        </p>
    {{else }}
        <h1 class="page-header">Login required</h1>
        <p>
            Please log in before proceeding.
        </p>
    {{/if}}

</template>
