<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stickywall</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        TogetherJSConfig_autoStart = false;
        TogetherJSConfig_getUserName = function() {
            if(!Meteor.user()) {
                return;
            }
            return Meteor.user().emails[0].address;
        };
    </script>
    <script src="http://togetherjs.com/togetherjs-min.js"></script>

</head>

<template name="layout">

    {{> header }}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 main">
                {{> yield }}
            </div>
        </div>

    </div>

    {{> yield region='footer'}}

</template>