<template name="canvas">

    <h1 class="page-header">My wall</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar form-group">
                <div class="btn-group tools">

                    <div class="btn-group tool-select">
                        <button type="button" class="btn btn-default tool-enable active"><span class="glyphicon glyphicon-hand-up"></span> Select</button>
                    </div>

                    <div class="btn-group tool-sticky">
                        <button type="button" class="btn btn-default tool-enable"><span class="glyphicon glyphicon-th-large"></span> Sticky</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu tool-color" role="menu">
                            <li data-color="#fcf0ad" class="active"><a href="#">Yellow</a></li>
                            <li data-color="#d9edf7" ><a href="#">Blue</a></li>
                            <li data-color="#f2dede" ><a href="#">Pink</a></li>
                            <li data-color="#dff0d8" ><a href="#">Green</a></li>
                        </ul>
                    </div>

                    <div class="btn-group tool-line">
                        <button type="button" class="btn btn-default tool-enable"><span class="glyphicon glyphicon-minus"></span> Line</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu tool-color" role="menu">
                            <li data-color="#333" class="active"><a href="#">Black</a></li>
                            <li data-color="#428bca" ><a href="#">Blue</a></li>
                            <li data-color="#a94442" ><a href="#">Red</a></li>
                            <li data-color="#3c763d" ><a href="#">Green</a></li>
                        </ul>
                    </div>

                    <div class="btn-group tool-text">
                        <button type="button" class="btn btn-default tool-enable"><span class="glyphicon glyphicon-font"></span> Text</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu tool-color" role="menu">
                            <li data-color="#333" class="active"><a href="#">Black</a></li>
                            <li data-color="#428bca" ><a href="#">Blue</a></li>
                            <li data-color="#a94442" ><a href="#">Red</a></li>
                            <li data-color="#3c763d" ><a href="#">Green</a></li>
                        </ul>
                    </div>
                </div>

                <div class="btn-group button-clear">
                    <button type="button" class="btn btn-danger clear"><span class="glyphicon glyphicon-remove"></span> Clear</button>
                </div>

                <div class="btn-group pull-right button-sharing">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="button-text">Private</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-mode='private' hidden><a href="#">Private</a></li>
                        <li data-mode='read-only'><a href="#">Public (read-only)</a></li>
                        <li data-mode='read-write'><a href="#">Public (read-write)</a></li>
                    </ul>
                </div>

                <div class="btn-group pull-right button-collaborate" style="display: none">
                    <button type="button" class="btn btn-primary collaborate"><span class="glyphicon glyphicon-user"></span> Collaborate</button>
                </div>

                <div class="btn-group pull-right button-save">
                    <button type="button" class="btn btn-success save"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="canvas-area">
        <textarea id="text-edit" hidden></textarea>
        <div id="canvas-container">
            <canvas id="canvas"><!-- --></canvas>
        </div>
    </div>

</template>
