<template name="header">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Stickywall</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/new">New wall</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if isAdmin}}<li class="{{adminAccountsActive}}"><a href="{{pathFor 'adminAccounts'}}">Manage accounts</a></li>{{/if}}
                    {{> loginButtons }}
                </ul>
            </div>
        </div>
    </div>
</template>